body {
    margin: 10;
    text-align: center;
    border-radius: 0px;
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', ' Helvetica Neue', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943fe;
    color: white;
    padding: 30px;
    /* border: solid white; */
    border-radius: 12px 12px 0px 0px;
    height: 285px;

}

.main {
    background: #f4f4f4;
    padding: 0px;
    border-radius: 0px 0px 12px 12px;

}

.section {
    background: #f4f4f4;
    padding: 5px;
    font-size: 14px;
    border-radius: 0px 0px 12px 12px;
    
}
#input {
    margin-top: 20px;
    width: 117px;
    height: 83px;
    text-align: center;
    border: solid white;
    background: #6943fe;
    border-radius: 5px;
    border-color: #B295FF;
    color: white;
    font-weight: 900;
    font-size: 50px;
}
#convert-btn {
    width: 117px;
    height: 42px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}
.output {
    background: white;
    height: 109px;
    margin: 20px;
    padding-top: 1px;
    font-weight: 400;
    color: #595477;
    font-size: 20px;
}
h3 {
    font-weight:400;
    color: #595477;
}